#ShapeSelector {
  margin-bottom:10px;
  float:right;
}

#palettePicker {
  float: left;
  margin-bottom:10px;
}

#ShapeSelector  {
  display: flex;
}

#ShapeSelector form {

}

#ShapeSelector button {
  height:52px;
  width:58px;
  background: white;
  border:0;
  float:left;
  margin-right: 10px;
  border:solid 2px transparent;
  padding:0;
  border-radius:5px;
}

#ShapeSelector button.active{
  border-color:#aaa;
}

#ShapeSelector button:focus {
  outline:0;
}

#ShapeSelector input {
  width:40px;
  float:right;
  padding:2px 5px;
  border:0;
}

#ShapeSelector label {
  display:block;
  width: 105px;
  font-size:.9em;
  margin-bottom:10px;
  font-family: 'Karla', "futura",sans-serif;
}

#ShapeSelector label:last-child {
  margin:0;
}

#designControl {
  clear:both;
}

#palettePicker .colorBlock.active {
  position:relative;
}

#palettePicker .colorBlock.active:after {
  content:"⏶";
  display:block;
  position:absolute;
  top:42px;
  text-align:center;
  width:100%;
  font-size:1.25em;
  color:#888;
}

#modifyPalette {
  height:52px;
  float:right;
  border:0;
  background:none;
  color:#28B5D1;
  transition: .3s background;
  border-radius:5px;
}

#modifyPalette:hover {
  background:white;
}
