.svgBuilder {
  width:600px;
  height:580px;
  margin:auto;
}
#designePane {
  height:calc(100% - 20px);
}

#designControl {
    display: flex;
}

#toolbar:after {
  content:"";
  display: table;
  clear:both;
}

#toolbar {
  margin-bottom:20px;
}
