.step {
  border:solid 1px #555;
  border-radius:5px;
  color:#555;
  font-family:Karla, futura, arial;
  padding:0;
  margin-left:10px;
  display:flex;
  align-self: flex-start;
}

.step:first-child{
  margin:0;
}

.step.active {
  color:white;
  background:#555;
}

.step .num {
  border-right:solid 1px #555;
  padding:5px 10px;
}

.step.active .num{
  border-right-color: white;
}

.step .text {
  padding:5px 10px;
}

#steps {
  display:flex;
  align-items:flex-flex-start;
  align-items:center;
  margin-top:10px;
}

#nextPage {
  border:0;
  margin:0;
  padding:5px 25px 5px 30px;
  float:right;
  margin-top:10px;
  font-size:1em;
  background: #ddd;
  color:white;
  font-family: Literata, georgia, serif;
}

#nextPage.ready {
  background: #28B5D1;
  color:white;
}

@media (max-width:1000px){
  #titleHeader {
    display: block;
  }

  #nextPage {
    float:none;
    display:block;
  }
}
