#grid, #designePane {
  width:calc(50% - 20px);
  padding:10px;
  float:left;
}

html, body {
  min-height: 100%;
  position:relative;
  height:100%;
}

#root, .App, #designer {
  position:relative;
  min-height:100%;
  height:100%;
}

#grid {
  position:relative;
  height:100%;
  padding:0;
  overflow:hidden;
}

#grid svg {
  height:100%;
}
