@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Literata:400,500,600,700&display=swap');

body {
  font-family: Literata, georgia, serif;
  background:#eee;
  color:#444;
  margin:0;
  padding:0;
  font-size:1em;
}

h1 {
  margin:0 0 30px 0;
}

h4 {
  margin:0;
  padding:0;
  font-family: 'Karla', "futura",sans-serif;
  font-weight:400;
  font-size:.8em;
  line-height: 60%;
}

.tabs {
  margin:30px 0;
}

.tabs button {
  background:none;
  font-family:Literata, georgia, serif;
  border:solid 1px #444;
  padding:5px 10px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  border-bottom:0;
  margin-right:3px;
  margin-bottom:-.5px;
  font-size:1em;
}

button:active, button:focus {
  outline: 0;
}

.tabs button:hover {
  background:#ddd;
}

.tabs button.active, .tabs button.active:hover {
  background:#444;
  color:white
}

.tabs {
  border-bottom:solid 1px #444;
}
